body, p {
  font-family: Computer Modern Serif;
}

.well {
  background-color: #ffffff;
  border-color: #fff;
  box-shadow: none;
}

a {
  color: #c00;
}

a:hover {
  color: #900;
}

a:visited {
  color: #a00;
}

code, pre {
  font-family: Computer Modern Typewriter Light;
  border: 0px;
  border-radius: 0px;
  background-color: #fff;
  color: #6c9055;
}

