/* Once again, good ol' cut n' paste was used extensively. */
/* In my defense, I'm cutting and pasting from myself, from */
/* back when I Knew Shit. */
/* Thx 2 The Gimp for colors! */

/* Stylizin's*/

body 
{
color: #000000;
background-color: #fff;
font-family: serif; 
}

a:link {color: #1153b7; }
a:visited {color: #18208a; }



/*The faux-apache-style header I have on theres.*/
div.apache
{
text-align: left;
/*margin: 5px;*/
/*padding: 5px;*/
white-space: nowrap;
}

hr.apache
{
width: 500px;
margin: -10px 0px 10px 0px;
}



/* I have a bit of "hai I'm Josh" text there somewhere... */

div.intro
{
float: center
position: static;
width: 100%;
font-size: 10pt;
font-align: left;
margin: auto;
}



/*The box that holds the icon-ish things. */

div.items
{
font-family: sans-serif;
font-weight: bold;
font-size: 10px;
background-color: #dcdad5;
float: center;
position: static;
width: 500px;
height: 150px;
border-width: 2px;
border-style: solid;
border-color: #4b6983;
margin: 15px auto 20px auto;
padding: 0px 5px 5px 5px;
}

div.icon
{
width: 120px;
height: 120px;
float: left;
text-align: center;
padding: 0px 0px 5px 0px;
margin: 0px 0px 10px 0px;
}



/* For the showcase. */

div.showcase
{
float: left;
position: static;
width: 350px;
}

div.shelf
{
width: 350px;
font-size: 10pt;
}

div.shelf-middle
{
background-image: url('showcase/slice_2_0.png');
background-repeat: repeat-y;
padding: 5px 50px 5px 25px;
}



/* For my beautiful to-do list. */

div.todo
{
width: 400px;
float: right;
position: static;
padding: 10px 2px 5px 0px;
margin: auto;
}

div.todo-header
{
padding: 0px 0px 0px 0px;
margin: 0px 0px -17px 0px;
}

div.todo-body
{
width: 400px;
background-image: url('todo-body.png');
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}

ul.todo
{
font-size: 10pt;
padding: 10px 20px 20px 80px;
}

div.container
{
width: 760px;
float: left;
position: static;
margin: 0px 5px 5px 5px;
}

div.banners
{
width: 100%;
float: left;
font-size: 10pt;
font-align: center;
position: static;
margins: auto;
}
