<!DOCTYPE html>

<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/cm-serif/style.css">
    <link rel="stylesheet" href="/cm-typewriter-light/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--<link rel="stylesheet" href="/css/fixes.css">-->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml">
    <meta name="author" content="Joshua Holbrook">
    <meta name="description" content="Joshua Holbrook's Web Page">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <meta charset="utf-8">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <!-- easteregg.in - where you go to get your website's easter eggs -->
    <script type="text/javascript">
    (function(window, undefined){
    var konami_keys = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
      konami_index = 0,
      handler = function(e) {
        if (e.keyCode === konami_keys[konami_index++]) {
          if (konami_index === konami_keys.length) {
            $(document).unbind("keydown", handler);
            $.getScript("http://jfhbrook.github.io/js/unicorn-pooper.js", function() {});
          }
        } else {
          konami_index = 0;
        }
      };
    $(document).bind("keydown", handler);
    })(this);
    </script>
  </head>

  <body>



      <div class="container">
        <div class="row">
          <div class="span12">
            <header style="padding-top: 20px; padding-left: 10px;">
              <h1 style="font-size: 50px;">JOSHUA HOLBROOK <small>
                <a href="http://www.github.com/jfhbrook">github</a> :
                <a href="http://www.twitter.com/jfhbrook">twitter</a>
              </small></h1>
            </header>
          
          </div>
        </div>
        <div class="row">
          <!--content-->
          <div class="span8" id="content">
          {{ content }}
          </div>

          <div class="span4">
            <h3>ALL THE BLOGPOSTS STANDING IN THE LINE FOR THE BATHROOM:</h3>
            <div class="well">
              <ul>
                {% for post in site.posts %}
                <li> {{ post.date | date_to_string }} : <a href="{{ post.url }}">{{ post.title }}</a> </li>
                    {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <footer>
          <p>Joshua Holbrook last updated this {{ site.time }}.</p>
        <footer>
      </div>
    </div>
  </body>
</html>
