<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--<link rel="stylesheet" href="/css/fixes.css">-->
    <meta name="author" content="Joshua Holbrook">
    <meta name="description" content="Joshua Holbrook's Web Page">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- easteregg.in - where you go to get your website's easter eggs -->
    <script type="text/javascript">
    (function(window, undefined){
    var konami_keys = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
      konami_index = 0,
      handler = function(e) {
        if (e.keyCode === konami_keys[konami_index++]) {
          if (konami_index === konami_keys.length) {
            $(document).unbind("keydown", handler);
            $.getScript("http://cdn.easteregg.in/outcomes/unicorn-pooper/unicorn.js?", function() {});
          }
        } else {
          konami_index = 0;
        }
      };
    $(document).bind("keydown", handler);
    })(this);
    </script>

  </head>

  <body>



      <div class="container">
        <div class="row">
          <div class="span12">
            <header style="padding-top: 20px; padding-left: 10px;">
              <h1 style="font-size: 50px;">JOSHUA HOLBROOK <small><a href="http://www.flickr.com/photos/jesusabdullah">flickr</a> : 
              <a href="http://www.github.com/jesusabdullah">github</a> :
              <a href="http://www.twitter.com/jesusabdullah">twitter</a></small></h1>
            </header>
          
          </div>
        </div>
        <div class="row">
          <!--content-->
          <div class="span8">
          {{ content }}
          </div>

          <div class="span4">
            <h3>Friends:</h3>
            <div class="well">
              <ul>
                <li>&gt;_&lt; <a href="http://www.substack.net">The Universe of Discord</a></li>
                <li><a href="http://www.catonmat.net">Catonmat.net</a> -- good coders code, great reuse.</li>
                <li>
                  <span style="font-family: monospace;">
oOOo <span style="font-family: sans-serif"><a href="http://f00li5h.pin21.com">Patch, Publish or Paw.</a></span><br/>
(__)
                  </span>
                </li>
                <li><a href="http://blog.nodejitsu.com">blog.nodejitsu.com</a> -- scaling node.js applications one callback at a time.
              </ul>
            </div>
            <h3>ALL THE BLOGPOSTS STANDING IN THE LINE FOR THE BATHROOM:</h3>
            <div class="well">
              <ul>
                {% for post in site.posts %}
                <li> {{ post.date | date_to_string }} : <a href="{{ post.url }}">{{ post.title }}</a> </li>
                    {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <footer>
          <p>Joshua Holbrook last updated this {{ site.time }}.</p>
          <img src="/banners/invalid.png" alt="[Validated HTML is for BITCHES. :v]" title="Or, more accurately, I find it's a massive pain in the ass so I don't bother.">
        <footer>
      </div>
    </div>
  </body>
</html>
